.button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.4rem 0.8rem;
  border-radius: var(--border-radius);
  color: var(--color-text);
  outline-color: var(--color-text);
  transition: color var(--animation-time-short) ease-in-out,
    background-color var(--animation-time-short) ease-in-out,
    border-color var(--animation-time-short) ease-in-out,
    box-shadow var(--animation-time-short) ease-in-out;
}

// Button modifiers
// ========

// Sizes
.button--small {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
}

.button--large {
  font-size: 1.1rem;
  padding: 0.6rem 1.2rem;
}

// Roles (colors)

.button--primary {
  background-color: var(--color-interactive);
  border-color: var(--color-interactive);
  color: var(--color-interactive--reverse);
  outline-color: var(--color-interactive);
  &:hover,
  &:focus {
    background-color: var(--color-interactive-dark);
  }
}

.button--success {
  background-color: var(--color-success);
  border-color: var(--color-success);
  color: var(--color-interactive--reverse);
  outline-color: var(--color-success);
  &:hover,
  &:focus {
    background-color: var(--color-success-dark);
  }
}

.button--warning {
  background-color: var(--color-warn);
  border-color: var(--color-warn);
  color: var(--color-interactive--reverse);
  outline-color: var(--color-warn);
  &:hover,
  &:focus {
    background-color: var(--color-warn-dark);
  }
}

.button--danger {
  background-color: var(--color-error);
  border-color: var(--color-error);
  color: var(--color-interactive--reverse);
  outline-color: var(--color-error);
  &:hover,
  &:focus {
    background-color: var(--color-error-dark);
  }
}

.button--neutral {
  background-color: var(--color-background-dark);
  border-color: var(--color-background-dark);
  color: var(--color-text);
  outline-color: var(--color-text);
  &:hover,
  &:focus {
    background-color: var(--color-background);
  }
}

.button--reverse {
  background-color: var(--color-text);
  border-color: var(--color-text);
  color: var(--color-background);
  outline-color: var(--color-text);
  &:hover,
  &:focus {
    background-color: var(--color-text-light);
  }
}

// Outline
.button--outline {
  background-color: transparent;
  &.button--primary {
    color: var(--color-interactive);
    &:hover,
    &:focus {
      background-color: var(--color-interactive);
    }
  }
  &.button--success {
    color: var(--color-success);
    &:hover,
    &:focus {
      background-color: var(--color-success);
    }
  }
  &.button--warning {
    color: var(--color-warn);
    &:hover,
    &:focus {
      background-color: var(--color-warn);
    }
  }
  &.button--danger {
    color: var(--color-error);
    &:hover,
    &:focus {
      background-color: var(--color-error);
    }
  }
  &.button--primary {
    color: var(--color-interactive);
    &:hover,
    &:focus {
      background-color: var(--color-interactive);
    }
  }
  &:hover,
  &:focus {
    color: var(--color-interactive--reverse);
  }
}

// Disabled

.button[disabled],
.button:disabled,
.button.disabled,
.button.button--disabled {
  cursor: initial;
  // to avoid hover
  pointer-events: none;
  opacity: 0.62;
}
