// inspired by https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website
html {
  font-size: 10px;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  line-height: var(--font-line-height);
  font-family: var(--font-body);
  font-size: var(--size-400);
}

a:not([class]) {
  color: var(--color-interactive);
}

:focus {
  outline: var(--color-focus-outline) 2px dashed;
  outline-offset: 0.16rem;
}

main:focus {
  outline: none;
}

[href]:hover {
  text-decoration: none;
}

h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like {
  font-family: var(--font-headings);
  line-height: 1.3;
}

h1,
.h1-like,
h2,
.h2-like {
  font-weight: 900;
}

h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like {
  font-weight: 600;
}

h1,
.h1-like {
  font-size: var(--size-700);
}

h2,
.h2-like {
  font-size: var(--size-600);
}

h3,
.h3-like {
  font-size: var(--size-600);
}

h4,
.h4-like {
  font-size: var(--size-500);
}

h5,
.h5-like {
  font-size: var(--size-400);
}

img {
  max-width: calc(min(55rem, 100%));
}

figcaption {
  font-size: var(--size-300);

  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
}

table {
  color: var(--color-text);
}

p,
li {
  max-width: var(--measure);
}

h1,
.h1-like {
  max-width: calc(var(--measure) / 4);
}

h2,
.h2-like,
h3,
.h3-like {
  max-width: calc(var(--measure) / 2.2);
}

pre {
  max-height: 36em;
  overflow-y: auto;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding: 1.2rem;
}

code {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  border-radius: var(--border-radius);
  line-height: 1.1;
  vertical-align: middle;
  font-size: 0.9em;
}

@media (min-width: 45em) {
  h1,
  .h1-like {
    font-size: var(--size-900);
  }

  h2,
  .h2-like {
    font-size: var(--size-700);
  }

  p,
  li {
    font-size: var(--size-500);
  }

  figcaption {
    font-size: var(--size-400);
  }

  blockquote p {
    font-size: var(--size-600);
    max-width: calc(var(--measure) * 0.666);
  }
}
