:root {
  /* Sizes */
  --border-thin: 0.2rem;
  --measure: 60ch;
  --form-field-height: 2rem;

  /* Fonts */
  --font-headings: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-ratio: 1.33;
  --font-line-height: 1.5;
  --size-300: calc(var(--size-400) / var(--font-ratio));
  --size-400: 1rem;
  --size-500: calc(var(--size-400) * var(--font-ratio));
  --size-600: calc(var(--size-500) * var(--font-ratio));
  --size-700: calc(var(--size-600) * var(--font-ratio));
  --size-800: calc(var(--size-700) * var(--font-ratio));
  --size-900: calc(var(--size-800) * var(--font-ratio));

  /* Spacing */
  --space: 0.2rem;
  --border-radius: 0.3rem;

  /* Animation */
  --animation-time-short: 125ms;
  --animation-time-medium: 250ms;
  --animation-time-long: 360ms;

  /* Shadows */
  --box-shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --box-shadow-extra-large: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
