:root {
  /* Sizes */
  --border-thin: 0.2rem;
  --measure: 50ch;

  /* Fonts */
  --font-headings: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-body: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-ratio: 1.33;
  --font-line-height: 1.5;
  --size-300: calc(var(--size-400) / var(--font-ratio));
  --size-400: 1rem;
  --size-500: calc(var(--size-400) * var(--font-ratio));
  --size-600: calc(var(--size-500) * var(--font-ratio));
  --size-700: calc(var(--size-600) * var(--font-ratio));
  --size-800: calc(var(--size-700) * var(--font-ratio));
  --size-900: calc(var(--size-800) * var(--font-ratio));

  /* Spacing */
  --space: 0.2rem;
}
