---
layout: "main.njk"
permalink: /
title: Welcome
---

<div class="cover">
  <div class="center">
    <div class="box">
      <h1>Carrot CSS</h1>
      <h3>
        The CSS library that gives you a good starting, great starter Design Tokens, the best utilities and all that in only <code>{{ libSize.libSize }}</code>!
      </h3>
      [![](https://data.jsdelivr.com/v1/package/npm/carrot-css/badge)](https://www.jsdelivr.com/package/npm/carrot-css)
    </div>
  </div>
</div>
