<div class="main-nav cluster cluster--right">
  <ul class="list">
    <li><a href="/">Home</a></li>
    <li><a href="/getting-started/">Getting Started</a></li>
    <li><a href="/documentation/">Documentation</a></li>
    <li><a href="/examples/">Examples</a></li>
  </ul>
</div>