<div class="main-nav cluster">
  <ul class="list">
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li><a href="{{ '/getting-started/' | url }}">Getting Started</a></li>
    <li><a href="{{ '/documentation/' | url }}">Documentation</a></li>
    <li><a href="{{ '/examples/' | url }}">Examples</a></li>
  </ul>
</div>