:root,
.theme-default {
  /* tokens for default */
  --color-text: var(--warmGray-900);
  --color-background: var(--coolGray-100);

  --color-border: var(--warmGray-400);
  --color-border-light: var(--warmGray-300);
}
